<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartattendance">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAttendance">
        <activity
            android:name="com.example.smartattendance.Login"
            android:exported="true"
            tools:ignore="WrongManifestParent">
            <intent-filter>

                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity android:name=".lecturer.Lecturer_Main" />
        <activity android:name=".student.Student_Main" />
        <activity android:name=".lecturer.Lecture_Class_Attending" />
        <activity android:name=".student.Student_Class_Attending" />
        <activity android:name=".lecturer.Lecture_Class_Paused" />
        <activity android:name=".student.Student_Class_Left" />
        <activity android:name=".lecturer.Lecture_Settings" />
        <activity android:name=".student.Student_Settings" />
    </application>
</manifest>